<header class="navbar mb-3 px-3 px-lg-6 px-3 px-lg-6 align-items-center page-header navbar-expand navbar-light">
    <a href="/admin" class="navbar-brand d-block d-lg-none">
      <div class="d-flex align-items-center flex-no-wrap text-truncate">
        <!--Sidebar-icon-->
        <span class="sidebar-icon bg-gradient-primary rounded-3 size-40 fw-bolder text-white">
          A
        </span>
      </div>
    </a>
    <ul class="navbar-nav ms-auto d-flex align-items-center h-100">
      <li class="nav-item d-flex align-items-center justify-content-center flex-column h-100 me-2">

        <label class="dark-mode-checkbox size-40 d-flex align-items-center justify-content-center nav-link p-0" for="ChangeTheme">
          <input type="checkbox" id="ChangeTheme"/> <span class="slide"></span>
          </label>
      </li>
      <a href="/signout" class="dropdown-item d-flex align-items-center">
      <a href="/signout" class="btn btn-primary btn-lg">Logout</a>
      </a>
    </ul>
</header>
