{% extends 'admin/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<!--//Page Toolbar//-->
<div class="toolbar pb-4 px-3 px-lg-6 pt-4 bg-body">
    <div class="position-relative container-fluid px-0">
        <div class="row align-items-center position-relative">
            <div class="col-md-8 mb-4 mb-lg-0">
                <h3 class="mb-2">Blank page</h3>
            </div>
        </div>
    </div>
</div>
<!--//Page Toolbar End//-->

<!--//Page content//-->
<div class="content pt-3 px-3 px-lg-6 d-flex flex-column-fluid">
    <div class="container-fluid px-0">
      <h5>Content here...</h5>
    </div>
</div>
<!--//Page content End//-->
{% endblock %}
