{% extends 'base.html' %}
{% block title %}Vehicle Listing{% endblock %}

{% block content %}
<section class="bg-dark text-white position-relative">
    <div class="container pt-4 pb-9 pb-lg-11 position-relative z-index-1">
    </div>
</section>

<!--hero-->
<section class="position-relative overflow-hidden border-bottom border-primary">
    <div class="container pt-6 pb-10 position-relative z-index-1">
        <div class="row pt-lg-9 pt-5 justify-content-between align-items-center">
            <div class="col-lg-10 col-xl-8">
                <h1 class="display-2 font-serif fw-bold mb-0">
                    Vehicles listed
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="sticky-lg-top top-0">
    <div class="container">
        <form action="{{ url_for('listing') }}" method="GET" class="position-relative z-index-1 mt-n9 mt-lg-n7 px-3 pb-3 pb-lg-0 pt-2 mb-5 bg-white border border-primary rounded-3">
            <div class="row mx-0 g-2 align-items-center">
                <div class="col-md-6 col-lg-3">
                    <label for="category" class="form-label small text-muted block mb-0">Vehicle Category:</label>
                    <select class="form-control form-control-lg border-0 shadow-none ps-0 pe-5" data-choices='{"searchEnabled":false,"itemSelectText":""}' name="category" id="category">
                        <option value="">All category</option>
                        <option value="Car" {% if category == 'Car' %}selected{% endif %}>Car</option>
                        <option value="Motorcycle" {% if category == 'Motorcycle' %}selected{% endif %}>Motorcycle</option>
                        <option value="Truck" {% if category == 'Truck' %}selected{% endif %}>Truck</option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-3">
                    <label for="v_for" class="form-label small text-muted block mb-0">Vehicle for:</label>
                    <select class="form-control form-control-lg border-0 shadow-none ps-0 pe-5" data-choices='{"searchEnabled":false,"itemSelectText":""}' name="is_for_rent" id="v_for">
                        <option value="">All</option>
                        <option value="True" {% if is_for_rent == 'True' %}selected{% endif %}>For Rent</option>
                        <option value="False" {% if is_for_rent == 'False' %}selected{% endif %}>For Sale</option>
                    </select>
                </div>
                <div class="col-md-9 col-lg-4">
                    <label for="p_location" class="form-label small text-muted">Location:</label>
                    <div class="position-relative">
                        <i class="bx bx-map small ms-0 opacity-50 position-absolute start-0 top-50 translate-middle-y"></i>
                        <input type="text" id="p_location" name="location" class="form-control  border-0 shadow-none form-control-lg ps-4" placeholder="Location..." value="{{ location }}">
                    </div>
                </div>
                <div class="col-md-3 col-lg-2 text-md-end">
                    <button type="submit" class="btn btn-primary btn-lg w-100">Apply Filter</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="position-relative">
    <div class="container py-9 py-lg-8">
        <div class="row mb-4">
            <div class="col-6">
                <small>Showing 9 of 2400+ Vehicles</small>
            </div>
            <div class="col-6 text-end">
                <div class="btn-group ms-auto btn-group-sm">
                    <a class="btn btn-outline-secondary rounded-pill active"
                        href="demo-real-estate-listing-grid.html">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                            fill="currentColor">
                            <path
                                d="M3,3v8h8V3H3z M9,9H5V5h4V9z M3,13v8h8v-8H3z M9,19H5v-4h4V19z M13,3v8h8V3H13z M19,9h-4V5h4V9z M13,13v8h8v-8H13z M19,19h-4v-4h4V19z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            {% for vehicle in vehicles %}
            <div class="col-md-6 col-lg-4">
                <!-- Vehicle item -->
                <div class="card rounded-3 mb-5" data-aos="fade-up">
                    <div class="mb-0 p-2 pb-0">
                        <a href="#!" class="d-block overflow-hidden rounded-3">
                            <img src="{{ url_for('static', filename=vehicle.image_url) }}"
                                class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="card-body overflow-hidden p-4 px-lg-5 flex-grow-1">
                        {% if vehicle.available_for_purchase %}
                            <span class="badge bg-secondary rounded-pill mb-3">For Sale</span>
                        {% else %}
                            <span class="badge bg-info rounded-pill mb-3">For Rent</span>
                        {% endif %}
                        <a href="#!" class="text-dark d-block mb-4">
                            <h5>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h5>
                        </a>
                        <div class="row mb-3 mb-lg-4">
                            <div class="col-4 d-flex align-items-center">
                                <i class="bx bx-message-square-check me-2"></i>
                                <span class="small">{{ vehicle.year }}</span>
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                <i class="bx bx-message-square-check me-2"></i>
                                <span class="small">{{ vehicle.kilometers }} km</span>
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                <i class="bx bx-message-square-check me-2"></i>
                                <span class="small">{{ vehicle.fuel_type }}</span>
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                <i class="bx bx-message-square-check me-2"></i>
                                <span class="small">{{ vehicle.horsepower }} cv</span>
                            </div>
                            <div class="col-4 d-flex align-items-center">
                                <i class="bx bx-message-square-check me-2"></i>
                                <span class="small">{{ vehicle.transmission }}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between justify-content-lg-start align-items-end">
                            <p class="mb-0 d-flex align-items-center">
                            <!-- Display rental or purchase price based on availability -->
                                {% if vehicle.available_for_purchase %}
                                <h5 class="ms-auto">{{ vehicle.purchase_price }}€</h5>
                                {% else %}
                                <h5 class="ms-auto">{{ vehicle.rental_price_per_day }}€/day</h5>
                                {% endif %}
                                <h5>
                                <i class="bx bxs-map me-2"></i>
                                <span class="small">{{ vehicle.location }}</span>
                                </h5>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!--Lead more-->
        <div class="d-flex justify-content-center" data-aos="fade-up">
            <a href="#!" class="btn btn-outline-secondary rounded-pill btn-lg hover-lift">
                Load more
            </a>
        </div>
    </div>
</section>

{% endblock %}