<header class="header-transparent sticky-fixed">
  <!--begin:navbar-->
  <nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-link-white">
    <!--Navbar-fixed-background-->
    <div class="navbar-fixed-bg position-absolute"></div>
    <div class="container position-relative z-index-1">
      <!--begin:logo-->
      <a class="navbar-brand" href="/">
        <img src="{{ url_for("static", filename="public/assets/img/logo/logo_white_sm.svg") }}" alt="" class="img-fluid navbar-brand-sticky">
        <img src="{{ url_for("static", filename="public/assets/img/logo/logo_white_sm.svg") }}" alt="" class="img-fluid navbar-brand-transparent"
          style="filter: invert(100%)">
      </a>
      <!--end:logo-->

      <!--begin:navbar-no-collapse-items-->
      <div class=" d-flex align-items-center navbar-no-collapse-items">
        <!--Navbar toggler button-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#mainNavbarTheme" aria-controls="mainNavbarTheme" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i></i>
          </span>
        </button>
        <!--Button-->
        <div class="nav-item me-3 ms-lg-3 ms-xl-2 me-lg-0 order-last">
          <a href="/signin" class="btn btn-primary btn-sm">Login</a>
        </div>
      </div>
      <!--end:navbar-no-collapse-items-->

      <!--begin:navbar-collapse-->
      <div class="collapse navbar-collapse" id="mainNavbarTheme">

        <!--begin:Navbar items-->
        <ul class="navbar-nav ms-auto">

          <!--begin:home-->
          <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
          </li>
          <!--end:home-->
          <!--begin:about-->
          <li class="nav-item">
            <a class="nav-link" href="/about">About </a>
          </li>
          <!--end:about-->
          <!--begin:listing-->
          <li class="nav-item">
            <a class="nav-link" href="/listing">Listing </a>
          </li>
          <!--end:listing-->
          <!--begin:contact-->
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact </a>
          </li>
          <!--end:contact-->
        </ul>
        <!--end:Navbar items-->
      </div>
      <!--end:navbar-collapse-->
    </div>
  </nav>
  <!--end:navbar-->
</header>